#gameplay_screen {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 50px;
}

#playground {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    border: 1px solid #fff;
}

#to_home {
    border:none;
    background: none;
    outline: none;
}

#to_home:hover {
    cursor: pointer;
}

#gameplay_info {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 10px;  
    left: 60px;
    width: 600px;
    justify-content: space-between;
}

#gameplay_info * {
    font-size: 18px;
}

/* #gameplay_stats {
    position: absolute;
    z-index: 2;
    bottom: 10px;  
    left: 60px;
}

#health_bar_container {
    position: relative;
}

#health_bar{
    width: 500px;
    height: 50px;
    image-rendering: crisp-edges;
    position: absolute;
    clip: rect(0, 100px, 500px, 0)
} */
